<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loguin</title>
</head>
<body>
    <div class="container">
        <form action="" method="POST">

            <label for-id="nome">Nome:</label>
            <input id="name" name="name" type="text">

            <label for-id="senha">Senha</label>
            <input id="senha" name="senha" type="text">

            <button type="submit">Enviar</button>

            <a href="/new-usuario">Criar novo usuario</a>
        </form>
    </div>
</body>
</html>